<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>SpellMaze Classic (6/12)</string>
	<key>description</key>
	<string>The Classic SpellMaze Game</string>
	<key>all-levels-open</key>
	<false/>
	<key>levels</key>
	<array>
		<string>219E63F0-CBBC-82B6-BBA3-EFBFBBDD51DE</string>
		<string>43D5B0E7-B4E2-9CC4-427F-1C20AD6501F8</string>
		<string>978436E3-8F3C-1D3C-62D3-C42C378F3901</string>
		<string>55468A97-F815-BF28-FDFF-1A63C18F47EA</string>
		<string>EEDB0678-5A8E-C18E-2DD6-28967FE11668</string>
		<string>0FC6F68E-95D9-A22D-09BA-557F439D8415</string>
		<string>D9182643-2223-C50C-D514-580856454D15</string>
		<string>D44201EC-04AE-FFF8-0852-1C7B818C4393</string>
		<string>B10BA16D-B6FA-4121-8DF8-BB5FD82CD9DF</string>
		<string>27A709F0-10FC-B140-5B13-32E25B1BC107</string>
		<string>78386BB1-A5CC-3B10-EE8D-29271AB4B736</string>
		<string>83E96B8B-E3D9-F908-BAEA-3D348C8C5462</string>
	</array>
	<key>level-props</key>
	<dict/>
	<key>219E63F0-CBBC-82B6-BBA3-EFBFBBDD51DE</key>
	<dict>
		<key>name</key>
		<string>Welcome</string>
		<key>description</key>
		<string>Introduction: Get acquainted</string>
		<key>prefs-data</key>
		<dict>
			<key>allow_play_pause</key>
			<true/>
			<key>allow_show_hint</key>
			<false/>
			<key>game_won_grace</key>
			<integer>5</integer>
			<key>board_override</key>
			<true/>
			<key>board_formula</key>
			<string>0 0 60 60 4 4</string>
			<key>dispenser_symbol_count</key>
			<integer>50</integer>
			<key>dispenser_tick_period</key>
			<real>2</real>
			<key>dispenser_joker_prob</key>
			<real>0</real>
			<key>valid_min_word_size</key>
			<integer>0</integer>
			<key>score_factor</key>
			<real>1</real>
			<key>show_hint_delay</key>
			<integer>5</integer>
			<key>between_hint_delay</key>
			<integer>5</integer>
			<key>show_hint_pieces</key>
			<true/>
			<key>hint_max_word_size</key>
			<integer>4</integer>
			<key>rush_words</key>
			<integer>2</integer>
			<key>joker_image_hints</key>
			<true/>
			<key>joker_image_rewards</key>
			<true/>
		</dict>
		<key>help-splash</key>
		<dict>
			<key>title</key>
			<string>Help</string>
			<key>text</key>
			<string>This a first level to get you familiar with the game.
-
Tap each letter in order to form a word. Remember to tap last letter twice to indicate that you are done.</string>
			<key>auto-show</key>
			<true/>
		</dict>
	</dict>
	<key>43D5B0E7-B4E2-9CC4-427F-1C20AD6501F8</key>
	<dict>
		<key>name</key>
		<string>SpellMaze</string>
		<key>description</key>
		<string>Form words, tap last letter twice</string>
		<key>prefs-data</key>
		<dict>
			<key>allow_play_pause</key>
			<true/>
			<key>allow_show_hint</key>
			<true/>
			<key>board_override</key>
			<true/>
			<key>board_formula</key>
			<string>0 0 60 60 5 5</string>
			<key>logic_random</key>
			<true/>
			<key>logic_decorator</key>
			<true/>
			<key>logic_decorator_apple_prob</key>
			<real>0</real>
			<key>logic_decorator_coin_prob</key>
			<real>0</real>
			<key>logic_decorator_bomb_prob</key>
			<real>0.1</real>
			<key>dispenser_joker_prob</key>
			<real>0.025</real>
			<key>hint_max_word_size</key>
			<integer>4</integer>
			<key>joker_image_hints</key>
			<true/>
			<key>joker_image_rewards</key>
			<true/>
		</dict>
		<key>help-splash</key>
		<dict>
			<key>title</key>
			<string>Basic Help</string>
			<key>text</key>
			<string>This level is basic level of SpellMaze.
			-
			Find each word and tap its letters in order, last twice. Do it fast before the board fills up!
			-
			Jokers (?) can be used instead of any letter.
			</string>
			<key>auto-show</key>
			<false/>
		</dict>
	</dict>
	<key>978436E3-8F3C-1D3C-62D3-C42C378F3901</key>
	<dict>
		<key>name</key>
		<string>SpellMaze 4</string>
		<key>description</key>
		<string>4 letters or more</string>
		<key>prefs-data</key>
		<dict>
			<key>allow_play_pause</key>
			<true/>
			<key>allow_show_hint</key>
			<true/>
			<key>valid_min_word_size</key>
			<integer>4</integer>
			<key>board_override</key>
			<true/>
			<key>board_formula</key>
			<string>0 0 60 60 5 5</string>
			<key>logic_random</key>
			<true/>
			<key>logic_decorator</key>
			<true/>
			<key>logic_decorator_apple_prob</key>
			<real>0</real>
			<key>logic_decorator_coin_prob</key>
			<real>0</real>
			<key>logic_decorator_bomb_prob</key>
			<real>0.1</real>
			<key>dispenser_joker_prob</key>
			<real>0.025</real>
			<key>joker_image_hints</key>
			<true/>
			<key>joker_image_rewards</key>
			<true/>
		</dict>
	</dict>
	<key>55468A97-F815-BF28-FDFF-1A63C18F47EA</key>
	<dict>
		<key>name</key>
		<string>Blitz 3</string>
		<key>description</key>
		<string>One word, 3 letters or more</string>
		<key>prefs-data</key>
		<dict>
			<key>allow_play_pause</key>
			<true/>
			<key>allow_show_hint</key>
			<false/>
			<key>dispenser_symbol_count</key>
			<integer>163</integer>
			<key>auto_valid_word_wipe</key>
			<true/>
			<key>game_over_grace</key>
			<integer>6</integer>
			<key>game_won_grace</key>
			<integer>2</integer>
			<key>board_override</key>
			<true/>
			<key>board_formula</key>
			<string>0 0 60 60 3 3</string>
			<key>logic_decorator</key>
			<false/>
			<key>dispenser_tick_period</key>
			<real>0.01</real>
			<key>dispenser_joker_prob</key>
			<real>0.025</real>
			<key>valid_min_word_size</key>
			<integer>3</integer>
			<key>score_factor</key>
			<real>2</real>
			<key>joker_image_hints</key>
			<true/>
		</dict>
	</dict>
	<key>EEDB0678-5A8E-C18E-2DD6-28967FE11668</key>
	<dict>
		<key>name</key>
		<string>Adjacent 3</string>
		<key>description</key>
		<string>Lettes must be next to each other</string>
		<key>prefs-data</key>
		<dict>
			<key>allow_play_pause</key>
			<true/>
			<key>allow_show_hint</key>
			<true/>
			<key>dispenser_symbol_count</key>
			<integer>120</integer>
			<key>board_override</key>
			<true/>
			<key>board_formula</key>
			<string>0 0 60 60 6 6</string>
			<key>logic_disabler</key>
			<true/>
			<key>logic_disabler_progressive</key>
			<true/>
			<key>logic_disabler_pattern</key>
			<integer>4</integer>
			<key>logic_decorator</key>
			<true/>
			<key>logic_decorator_apple_prob</key>
			<real>0</real>
			<key>logic_decorator_coin_prob</key>
			<real>0</real>
			<key>logic_decorator_bomb_prob</key>
			<real>0.1</real>
			<key>dispenser_joker_prob</key>
			<real>0.025</real>
			<key>valid_min_word_size</key>
			<integer>3</integer>
			<key>score_factor</key>
			<real>2.5</real>
			<key>joker_image_hints</key>
			<true/>
			<key>joker_image_rewards</key>
			<true/>
		</dict>
	</dict>
	<key>0FC6F68E-95D9-A22D-09BA-557F439D8415</key>
	<dict>
		<key>name</key>
		<string>Spiral 3</string>
		<key>description</key>
		<string>Letters moving in a spiral</string>
		<key>prefs-data</key>
		<dict>
			<key>allow_play_pause</key>
			<true/>
			<key>allow_show_hint</key>
			<true/>
			<key>dispenser_symbol_count</key>
			<integer>130</integer>
			<key>board_override</key>
			<true/>
			<key>board_formula</key>
			<string>0 0 60 60 5 5</string>
			<key>logic_nudge</key>
			<true/>
			<key>logic_board_order</key>
			<string>Spiral</string>
			<key>logic_decorator</key>
			<true/>
			<key>logic_decorator_apple_prob</key>
			<real>0</real>
			<key>logic_decorator_coin_prob</key>
			<real>0</real>
			<key>logic_decorator_bomb_prob</key>
			<real>0.1</real>
			<key>dispenser_joker_prob</key>
			<real>0.025</real>
			<key>valid_min_word_size</key>
			<integer>3</integer>
			<key>score_factor</key>
			<real>1.5</real>
			<key>joker_image_hints</key>
			<true/>
			<key>joker_image_rewards</key>
			<true/>
		</dict>
	</dict>
	<key>D9182643-2223-C50C-D514-580856454D15</key>
	<dict>
		<key>name</key>
		<string>Rotate 3</string>
		<key>description</key>
		<string>Rotating blitz, 3 letters or more</string>
		<key>prefs-data</key>
		<dict>
			<key>allow_play_pause</key>
			<true/>
			<key>allow_show_hint</key>
			<false/>
			<key>dispenser_symbol_count</key>
			<integer>140</integer>
			<key>game_over_grace</key>
			<integer>9</integer>
			<key>game_won_grace</key>
			<integer>2</integer>
			<key>board_override</key>
			<true/>
			<key>board_formula</key>
			<string>0 0 60 60 3 3</string>
			<key>logic_viewtrans</key>
			<true/>
			<key>logic_viewtrans_slices</key>
			<integer>2</integer>
			<key>logic_decorator</key>
			<false/>
			<key>dispenser_joker_prob</key>
			<real>0.025</real>
			<key>dispenser_tick_period</key>
			<real>0.01</real>
			<key>valid_min_word_size</key>
			<integer>3</integer>
			<key>score_factor</key>
			<real>2</real>
			<key>joker_image_hints</key>
			<true/>
		</dict>
	</dict>
	<key>D44201EC-04AE-FFF8-0852-1C7B818C4393</key>
	<dict>
		<key>name</key>
		<string>Cross 4</string>
		<key>description</key>
		<string>Letters must fall on cross shape</string>
		<key>prefs-data</key>
		<dict>
			<key>allow_play_pause</key>
			<true/>
			<key>allow_show_hint</key>
			<true/>
			<key>dispenser_symbol_count</key>
			<integer>120</integer>
			<key>board_override</key>
			<true/>
			<key>board_formula</key>
			<string>0 0 60 60 6 6</string>
			<key>logic_disabler</key>
			<true/>
			<key>logic_disabler_progressive</key>
			<false/>
			<key>logic_disabler_pattern</key>
			<integer>0</integer>
			<key>logic_decorator</key>
			<true/>
			<key>logic_decorator_apple_prob</key>
			<real>0</real>
			<key>logic_decorator_coin_prob</key>
			<real>0</real>
			<key>logic_decorator_bomb_prob</key>
			<real>0.1</real>
			<key>dispenser_joker_prob</key>
			<real>0.04</real>
			<key>valid_min_word_size</key>
			<integer>4</integer>
			<key>score_factor</key>
			<real>2.5</real>
			<key>game_over_grace</key>
			<integer>30</integer>
			<key>joker_image_hints</key>
			<true/>
			<key>joker_image_rewards</key>
			<true/>
		</dict>
	</dict>
	<key>27A709F0-10FC-B140-5B13-32E25B1BC107</key>
	<dict>
		<key>name</key>
		<string>Fade 4</string>
		<key>description</key>
		<string>Letters fading away</string>
		<key>prefs-data</key>
		<dict>
			<key>allow_play_pause</key>
			<true/>
			<key>allow_show_hint</key>
			<true/>
			<key>dispenser_symbol_count</key>
			<integer>150</integer>
			<key>board_override</key>
			<true/>
			<key>board_formula</key>
			<string>0 0 60 60 5 5</string>
			<key>logic_fader</key>
			<true/>
			<key>logic_fader_valid_resets</key>
			<true/>
			<key>logic_fader_pace</key>
			<real>8</real>
			<key>logic_decorator</key>
			<true/>
			<key>logic_decorator_apple_prob</key>
			<real>0</real>
			<key>logic_decorator_coin_prob</key>
			<real>0</real>
			<key>logic_decorator_bomb_prob</key>
			<real>0.1</real>
			<key>dispenser_joker_prob</key>
			<real>0.025</real>
			<key>valid_min_word_size</key>
			<integer>4</integer>
			<key>score_factor</key>
			<real>3</real>
			<key>joker_image_hints</key>
			<true/>
			<key>joker_image_rewards</key>
			<true/>
		</dict>
	</dict>
	<key>B10BA16D-B6FA-4121-8DF8-BB5FD82CD9DF</key>
	<dict>
		<key>name</key>
		<string>Chaos 4</string>
		<key>description</key>
		<string>Letters shifting positions</string>
		<key>prefs-data</key>
		<dict>
			<key>allow_play_pause</key>
			<true/>
			<key>allow_show_hint</key>
			<true/>
			<key>dispenser_symbol_count</key>
			<integer>100</integer>
			<key>board_override</key>
			<true/>
			<key>board_formula</key>
			<string>0 0 60 60 5 5</string>
			<key>game_over_grace</key>
			<integer>2</integer>
			<key>logic_nudge</key>
			<true/>
			<key>logic_board_order</key>
			<string>Chaos</string>
			<key>logic_decorator</key>
			<true/>
			<key>logic_decorator_apple_prob</key>
			<real>0</real>
			<key>logic_decorator_coin_prob</key>
			<real>0</real>
			<key>logic_decorator_bomb_prob</key>
			<real>0.1</real>
			<key>dispenser_joker_prob</key>
			<real>0.025</real>
			<key>dispenser_tick_period</key>
			<real>2</real>
			<key>valid_min_word_size</key>
			<integer>4</integer>
			<key>score_factor</key>
			<real>2</real>
			<key>joker_image_hints</key>
			<true/>
			<key>joker_image_rewards</key>
			<true/>
		</dict>
	</dict>
	<key>78386BB1-A5CC-3B10-EE8D-29271AB4B736</key>
	<dict>
		<key>name</key>
		<string>Flip 4</string>
		<key>description</key>
		<string>Letters flip to mirror image</string>
		<key>prefs-data</key>
		<dict>
			<key>allow_play_pause</key>
			<true/>
			<key>allow_show_hint</key>
			<true/>
			<key>dispenser_symbol_count</key>
			<integer>200</integer>
			<key>board_override</key>
			<true/>
			<key>board_formula</key>
			<string>0 0 60 60 5 5</string>
			<key>logic_viewtrans</key>
			<true/>
			<key>logic_viewtrans_slices</key>
			<integer>0</integer>
			<key>logic_decorator</key>
			<true/>
			<key>logic_decorator_apple_prob</key>
			<real>0</real>
			<key>logic_decorator_coin_prob</key>
			<real>0</real>
			<key>logic_decorator_bomb_prob</key>
			<real>0.1</real>
			<key>dispenser_joker_prob</key>
			<real>0.025</real>
			<key>valid_min_word_size</key>
			<integer>4</integer>
			<key>score_factor</key>
			<real>2</real>
			<key>joker_image_hints</key>
			<true/>
			<key>joker_image_rewards</key>
			<true/>
		</dict>
	</dict>
	<key>83E96B8B-E3D9-F908-BAEA-3D348C8C5462</key>
	<dict>
		<key>name</key>
		<string>Endless 5</string>
		<key>description</key>
		<string>Play until you drop</string>
		<key>prefs-data</key>
		<dict>
			<key>allow_play_pause</key>
			<true/>
			<key>allow_show_hint</key>
			<false/>
			<key>game_over_grace</key>
			<integer>0</integer>
			<key>valid_min_word_size</key>
			<integer>5</integer>
			<key>board_override</key>
			<true/>
			<key>board_formula</key>
			<string>0 0 60 60 6 6</string>
			<key>logic_random</key>
			<true/>
			<key>logic_decorator</key>
			<true/>
			<key>logic_decorator_apple_prob</key>
			<real>0</real>
			<key>logic_decorator_coin_prob</key>
			<real>0</real>
			<key>logic_decorator_bomb_prob</key>
			<real>0.1</real>
			<key>dispenser_joker_prob</key>
			<real>0.037</real>
			<key>dispenser_tick_period</key>
			<real>1</real>
			<key>dispenser_symbol_count</key>
			<integer>1000</integer>
			<key>show_hint_delay</key>
			<integer>30</integer>
			<key>between_hint_delay</key>
			<integer>15</integer>
			<key>hint_max_word_size</key>
			<integer>0</integer>
			<key>joker_image_hints</key>
			<true/>
			<key>joker_image_rewards</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
