<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>name</key>
    <string>Mammals (English)</string>
    <key>description</key>
    <string>Mammals in English.</string>
    <key>item-icon</key>
    <string>Mammals_English_item_icon.png</string>
    <key>voice-language</key>
    <string>en</string>
    <key>game-props-layers</key>
	<array>
		<dict>
    		<key>key</key>
	        <string>[All]</string>
	        <key>props</key>
	        <dict>
     	        <key>study_words_query</key><string>http://en.wikipedia.org/w/index.php?search=__WORD__&amp;go=Go</string>
	        </dict>
		</dict>
	</array>

  </dict>
</plist>
